// colors

$color_white: #fff;
$color_black: #000;
$gold_color: #dcca87;
$text_color: #aaaaaa;
$text_color_2: #0c0c0c;
$text_color_3: #272727;
$bg_color: #0C0B08;


// breakpoints
$point_1: 1200px;
$point_2: 1024px; /* ! */
$point_3: 1023.98px;
$point_4: 768px; /* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; /* ! */
$point_8: 374.98px; /* ! */

// fonts
$font_1: 'Open Sans', sans-serif;
$font_2: 'Cormorant Upright', sans-serif;
